In [9]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import chardet

In [12]:
# Changed encoding to allow reading in Jupyter Notebook
unis_adults = pd.read_csv('Resources/uninsured-adults-all-01-30-2024.csv', skiprows=2, encoding='cp1252')
unis_adults.head(15)

    time_period          state population cohort  point_estimate
0          2012  United States        all    All            20.8
1          2013  United States        all    All            20.4
2          2014  United States        all    All            16.3
3          2015  United States        all    All            13.2
4          2016  United States        all    All            12.1
5          2017  United States        all    All            12.2
6          2018  United States        all    All            12.4
7          2019  United States        all    All            12.9
8          2020  United States        all    All            12.4
9          2021  United States        all    All            12.1
10         2012        Alabama        all    All            19.9
11         2013        Alabama        all    All            20.4
12         2014        Alabama        all    All            18.1
13         2015        Alabama        all    All            15.7
14         2016        Alabama        all    All            14.2

In [7]:
avoi_deaths = pd.read_csv('Resources/premature-avoidable-deaths-per-100,000-population-all-01-25-2024.csv', skiprows=2, encoding='cp1252')
avoi_deaths.head(15)

    time_period      state population cohort  point_estimate
151     2019-20  Wisconsin        all    All           246.6
152     2020-21  Wisconsin        all    All           272.9
153     2018-19    Wyoming        all    All           264.3
154     2019-20    Wyoming        all    All           294.3
155     2020-21    Wyoming        all    All           354.0

In [13]:
prev_deaths = pd.read_csv('Resources/premature-deaths-from-preventable-causes-per-100,000-population-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
prev_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All           166.3
1      2019-20  United States        all    All           190.8
2      2020-21  United States        all    All           231.9
3      2018-19        Alabama        all    All           212.6
4      2019-20        Alabama        all    All           241.0
5      2020-21        Alabama        all    All           302.4
6      2018-19         Alaska        all    All           193.9
7      2019-20         Alaska        all    All           209.4
8      2020-21         Alaska        all    All           262.2
9      2018-19        Arizona        all    All           173.2
10     2019-20        Arizona        all    All           210.4
11     2020-21        Arizona        all    All           274.7
12     2018-19       Arkansas        all    All           229.3
13     2019-20       Arkansas        all    All           259.9
14     2020-21       Arkansas        all    All           315.7

In [14]:
treat_deaths = pd.read_csv('Resources/premature-deaths-from-treatable-causes-per-100,000-population-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
treat_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All            83.8
1      2019-20  United States        all    All            85.9
2      2020-21  United States        all    All            88.8
3      2018-19        Alabama        all    All           108.5
4      2019-20        Alabama        all    All           110.0
5      2020-21        Alabama        all    All           115.6
6      2018-19         Alaska        all    All            67.9
7      2019-20         Alaska        all    All            73.1
8      2020-21         Alaska        all    All            80.1
9      2018-19        Arizona        all    All            76.1
10     2019-20        Arizona        all    All            82.1
11     2020-21        Arizona        all    All            87.9
12     2018-19       Arkansas        all    All           121.7
13     2019-20       Arkansas        all    All           126.9
14     2020-21       Arkansas        all    All           134.8

In [15]:
rows_unis = len(unis_adults)
rows_unis

520

In [16]:
rows_avoi = len(avoi_deaths)
rows_avoi

156

In [17]:
rows_prev = len(prev_deaths)
rows_prev

156

In [18]:
rows_treat = len(treat_deaths)
rows_treat

156

In [19]:
column_name = 'time_period'

# Count the rows where the value in the specified column is '2019'
count_2019 = (unis_adults[column_name] == 2019).sum()

print(f"The number of rows with the value '2019' in {column_name} is: {count_2019} in unis_adults")
count_avoi1819 = (avoi_deaths[column_name] == "2018-19").sum()

print(f"The number of rows with the value '2018-19' in {column_name} is: {count_avoi1819} in avoi_deaths")
count_prev1819 = (prev_deaths[column_name] == "2018-19").sum()

print(f"The number of rows with the value '2018-19' in {column_name} is: {count_prev1819} in prev_deaths")
count_tre1819 = (treat_deaths[column_name] == "2018-19").sum()

print(f"The number of rows with the value '2018-19' in {column_name} is: {count_tre1819} in treat_deaths")

The number of rows with the value '2019' in time_period is: 52 in unis_adults
The number of rows with the value '2018-19' in time_period is: 52 in avoi_deaths
The number of rows with the value '2018-19' in time_period is: 52 in prev_deaths
The number of rows with the value '2018-19' in time_period is: 52 in treat_deaths

In [20]:
#Figure out the column of 
census_1819_df = pd.DataFrame(unis_adults.loc[(unis_adults["time_period"] == 2019) | (unis_adults["time_period"] == 2018)]).reset_index()
census_1819_df.head(7)

   index  time_period          state population cohort  point_estimate
0      6         2018  United States        all    All            12.4
1      7         2019  United States        all    All            12.9
2     16         2018        Alabama        all    All            15.6
3     17         2019        Alabama        all    All            14.9
4     26         2018         Alaska        all    All            15.9
5     27         2019         Alaska        all    All            15.3
6     36         2018        Arizona        all    All            14.6

In [21]:
census_1819_df.loc[census_1819_df["state"]=="Arizona"].head()

   index  time_period    state population cohort  point_estimate
6     36         2018  Arizona        all    All            14.6
7     37         2019  Arizona        all    All            15.4

In [22]:
unis_clean_1819 = census_1819_df.groupby("state")["point_estimate"].mean().reset_index()
# unis_clean_1819["point_estimate" == "Average rate of uninsured"]

# Display the resulting DataFrame
unis_clean_1819.head()

        state  point_estimate
0     Alabama           15.25
1      Alaska           15.60
2     Arizona           15.00
3    Arkansas           12.70
4  California           10.55

In [ ]:
# column_name = 'column_name'

# # Get the value counts for each unique value in the specified column
# value_counts = avoi_deaths["state"].value_counts()

# print(f"Value counts for {column_name}:\n{value_counts}")