In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import chardet
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [2]:
# Changed encoding to allow reading in Jupyter Notebook.
# Skipped first two rows as they couldn't be read, third row was the header row for the data.
unis_adults = pd.read_csv('Resources/uninsured-adults-all-01-30-2024.csv', skiprows=2, encoding='cp1252')
# Reviewing first 15 rows
unis_adults.head(15)

    time_period          state population cohort  point_estimate
0          2012  United States        all    All            20.8
1          2013  United States        all    All            20.4
2          2014  United States        all    All            16.3
3          2015  United States        all    All            13.2
4          2016  United States        all    All            12.1
5          2017  United States        all    All            12.2
6          2018  United States        all    All            12.4
7          2019  United States        all    All            12.9
8          2020  United States        all    All            12.4
9          2021  United States        all    All            12.1
10         2012        Alabama        all    All            19.9
11         2013        Alabama        all    All            20.4
12         2014        Alabama        all    All            18.1
13         2015        Alabama        all    All            15.7
14         2016        Alabama        all    All            14.2

In [3]:
# Reading in premature avoidable deaths per 100,000 population per state.
# Skipping first two rows, fixed encoding
avoi_deaths = pd.read_csv('Resources/premature-avoidable-deaths-per-100,000-population-all-01-25-2024.csv', skiprows=2, encoding='cp1252')
avoi_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All           250.1
1      2019-20  United States        all    All           276.7
2      2020-21  United States        all    All           320.8
3      2018-19        Alabama        all    All           321.2
4      2019-20        Alabama        all    All           351.0
5      2020-21        Alabama        all    All           417.9
6      2018-19         Alaska        all    All           261.7
7      2019-20         Alaska        all    All           282.4
8      2020-21         Alaska        all    All           342.3
9      2018-19        Arizona        all    All           249.3
10     2019-20        Arizona        all    All           292.5
11     2020-21        Arizona        all    All           362.6
12     2018-19       Arkansas        all    All           351.0
13     2019-20       Arkansas        all    All           386.8
14     2020-21       Arkansas        all    All           450.5

In [4]:
# Reading in preventable deaths per 100,000 population per state.
# Skipping first two rows, fixed encoding
prev_deaths = pd.read_csv('Resources/premature-deaths-from-preventable-causes-per-100,000-population-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
prev_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All           166.3
1      2019-20  United States        all    All           190.8
2      2020-21  United States        all    All           231.9
3      2018-19        Alabama        all    All           212.6
4      2019-20        Alabama        all    All           241.0
5      2020-21        Alabama        all    All           302.4
6      2018-19         Alaska        all    All           193.9
7      2019-20         Alaska        all    All           209.4
8      2020-21         Alaska        all    All           262.2
9      2018-19        Arizona        all    All           173.2
10     2019-20        Arizona        all    All           210.4
11     2020-21        Arizona        all    All           274.7
12     2018-19       Arkansas        all    All           229.3
13     2019-20       Arkansas        all    All           259.9
14     2020-21       Arkansas        all    All           315.7

In [5]:
# Reading in premature deaths per 100,000 population per state.
# Skipping first two rows, fixed encoding
treat_deaths = pd.read_csv('Resources/premature-deaths-from-treatable-causes-per-100,000-population-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
treat_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All            83.8
1      2019-20  United States        all    All            85.9
2      2020-21  United States        all    All            88.8
3      2018-19        Alabama        all    All           108.5
4      2019-20        Alabama        all    All           110.0
5      2020-21        Alabama        all    All           115.6
6      2018-19         Alaska        all    All            67.9
7      2019-20         Alaska        all    All            73.1
8      2020-21         Alaska        all    All            80.1
9      2018-19        Arizona        all    All            76.1
10     2019-20        Arizona        all    All            82.1
11     2020-21        Arizona        all    All            87.9
12     2018-19       Arkansas        all    All           121.7
13     2019-20       Arkansas        all    All           126.9
14     2020-21       Arkansas        all    All           134.8

In [6]:
# Creating variable for the column we want to narrow focus based on
column_name = 'time_period'
# Count the rows where the value in the specified column is '2019'
count_2019 = (unis_adults[column_name] == 2019).sum()
# Confirming row counts per data set
print(f"The number of rows with the value '2019' in {column_name} is: {count_2019} in unis_adults")
count_avoi1819 = (avoi_deaths[column_name] == "2018-19").sum()
print(f"The number of rows with the value '2018-19' in {column_name} is: {count_avoi1819} in avoi_deaths")
count_prev1819 = (prev_deaths[column_name] == "2018-19").sum()
print(f"The number of rows with the value '2018-19' in {column_name} is: {count_prev1819} in prev_deaths")
count_tre1819 = (treat_deaths[column_name] == "2018-19").sum()
print(f"The number of rows with the value '2018-19' in {column_name} is: {count_tre1819} in treat_deaths")
# NOTE: It is 52 rather than 50 because the data sets contain 50 states + District of Columbia + + United States (likely averages)

The number of rows with the value '2019' in time_period is: 52 in unis_adults
The number of rows with the value '2018-19' in time_period is: 52 in avoi_deaths
The number of rows with the value '2018-19' in time_period is: 52 in prev_deaths
The number of rows with the value '2018-19' in time_period is: 52 in treat_deaths

In [7]:
# Filtering down to only rows with the values of 2018 or 2019 in the column "time_period"
census_1819_df = pd.DataFrame(unis_adults.loc[(unis_adults["time_period"] == 2019) | (unis_adults["time_period"] == 2018)]).reset_index()
census_1819_df.head(7)

   index  time_period          state population cohort  point_estimate
0      6         2018  United States        all    All            12.4
1      7         2019  United States        all    All            12.9
2     16         2018        Alabama        all    All            15.6
3     17         2019        Alabama        all    All            14.9
4     26         2018         Alaska        all    All            15.9
5     27         2019         Alaska        all    All            15.3
6     36         2018        Arizona        all    All            14.6

In [8]:
# Uninsured adults information
# The uninsured adults were separated by year whereas the rest of the data spans 2 years (2018-19)
# So we took 2018 and 2019 data and averaged it
unis_clean_1819 = census_1819_df.groupby("state")["point_estimate"].mean().reset_index()
# unis_clean_1819["point_estimate" == "Average rate of uninsured"]
# Display the resulting DataFrame
unis_clean_1819.head()

        state  point_estimate
0     Alabama           15.25
1      Alaska           15.60
2     Arizona           15.00
3    Arkansas           12.70
4  California           10.55

In [9]:
#Renaming of columns and verifying change
census_1819_df = census_1819_df.rename(columns={"point_estimate": "Percentage of Uninsured Adults",
                                    "index": "Index", "time_period": "Years", "state": "State", "population": "Population", "cohort": "Cohort"})
census_1819_df.head()

,Index,Years,State,Population,Cohort,Percentage of Uninsured Adults
0,6,2018,United States,all,All,12.4
1,7,2019,United States,all,All,12.9
2,16,2018,Alabama,all,All,15.6
3,17,2019,Alabama,all,All,14.9
4,26,2018,Alaska,all,All,15.9

In [10]:
#Renaming of columns and verifying change
avoi_deaths_df = avoi_deaths.rename(columns={"point_estimate": "Deaths per 100k Population",
                                    "time_period": "Years", "state": "State", "population": "Population", "cohort": "Cohort"})
avoi_deaths_df.head()

     Years          State Population Cohort  Deaths per 100k Population
0  2018-19  United States        all    All                       250.1
1  2019-20  United States        all    All                       276.7
2  2020-21  United States        all    All                       320.8
3  2018-19        Alabama        all    All                       321.2
4  2019-20        Alabama        all    All                       351.0

In [11]:
#Renaming of columns and verifying change
prev_deaths = prev_deaths.rename(columns={"point_estimate": "Deaths per 100k Population",
                                    "time_period": "Years", "state": "State", "population": "Population", "cohort": "Cohort"})
prev_deaths.head()

     Years          State Population Cohort  Deaths per 100k Population
0  2018-19  United States        all    All                       166.3
1  2019-20  United States        all    All                       190.8
2  2020-21  United States        all    All                       231.9
3  2018-19        Alabama        all    All                       212.6
4  2019-20        Alabama        all    All                       241.0

In [12]:
#Renaming of columns and verifying change
treat_deaths = treat_deaths.rename(columns={"point_estimate": "Deaths per 100k Population",
                                    "time_period": "Years", "state": "State", "population": "Population", "cohort": "Cohort"})
treat_deaths.head()

     Years          State Population Cohort  Deaths per 100k Population
0  2018-19  United States        all    All                        83.8
1  2019-20  United States        all    All                        85.9
2  2020-21  United States        all    All                        88.8
3  2018-19        Alabama        all    All                       108.5
4  2019-20        Alabama        all    All                       110.0

In [13]:
unis_clean_1819 = census_1819_df.groupby("State")["Percentage of Uninsured Adults"].mean().reset_index()

# Display the resulting DataFrame
unis_clean_1819.head()

        State  Percentage of Uninsured Adults
0     Alabama                           15.25
1      Alaska                           15.60
2     Arizona                           15.00
3    Arkansas                           12.70
4  California                           10.55

In [15]:
# Limiting the data to 2018-19 (2 year period) per state (avoidable deaths)
avoi_deaths_narrow = avoi_deaths_df.loc[avoi_deaths_df["Years"]=="2018-19"]
avoi_deaths_narrow.head()

      Years          State Population Cohort  Deaths per 100k Population
0   2018-19  United States        all    All                       250.1
3   2018-19        Alabama        all    All                       321.2
6   2018-19         Alaska        all    All                       261.7
9   2018-19        Arizona        all    All                       249.3
12  2018-19       Arkansas        all    All                       351.0

In [17]:
# Creating the df by choosing only the columns we want to keep (avoidable deaths)
avoi_deaths_df = avoi_deaths_narrow[["Years", "State", "Deaths per 100k Population"]]
avoi_deaths_df.head()

      Years          State  Deaths per 100k Population
0   2018-19  United States                       250.1
3   2018-19        Alabama                       321.2
6   2018-19         Alaska                       261.7
9   2018-19        Arizona                       249.3
12  2018-19       Arkansas                       351.0

In [18]:
# Limiting the data to 2018-19 (2 year period) per state (preventable deaths)
prev_deaths_narrow = prev_deaths.loc[prev_deaths["Years"]=="2018-19"]
prev_deaths_narrow.head()

      Years          State Population Cohort  Deaths per 100k Population
0   2018-19  United States        all    All                       166.3
3   2018-19        Alabama        all    All                       212.6
6   2018-19         Alaska        all    All                       193.9
9   2018-19        Arizona        all    All                       173.2
12  2018-19       Arkansas        all    All                       229.3

In [19]:
# Creating the df by choosing only the columns we want to keep (preventable deaths)
prev_deaths_df = prev_deaths_narrow[["Years", "State", "Deaths per 100k Population"]]
prev_deaths_df.head()

      Years          State  Deaths per 100k Population
0   2018-19  United States                       166.3
3   2018-19        Alabama                       212.6
6   2018-19         Alaska                       193.9
9   2018-19        Arizona                       173.2
12  2018-19       Arkansas                       229.3

In [20]:
# Limiting the data to 2018-19 (2 year period) per state (treatable deaths)
treat_deaths_narrow = treat_deaths.loc[treat_deaths["Years"]=="2018-19"]
treat_deaths_narrow.head()

      Years          State Population Cohort  Deaths per 100k Population
0   2018-19  United States        all    All                        83.8
3   2018-19        Alabama        all    All                       108.5
6   2018-19         Alaska        all    All                        67.9
9   2018-19        Arizona        all    All                        76.1
12  2018-19       Arkansas        all    All                       121.7

In [21]:
# Creating the df by choosing only the columns we want to keep (treatable deaths)
treat_deaths_df = treat_deaths_narrow[["Years", "State", "Deaths per 100k Population"]]
treat_deaths_df.head()

      Years          State  Deaths per 100k Population
0   2018-19  United States                        83.8
3   2018-19        Alabama                       108.5
6   2018-19         Alaska                        67.9
9   2018-19        Arizona                        76.1
12  2018-19       Arkansas                       121.7

In [38]:
mean_unis = unis_clean_1819['Percentage of Uninsured Adults'].mean()
mean_unis

11.325000000000001

In [23]:
median_unis = unis_clean_1819['Percentage of Uninsured Adults'].median()
median_unis

11.325000000000001

In [24]:
mode_unis = unis_clean_1819['Percentage of Uninsured Adults'].mode()[0]
mode_unis

6.1

In [25]:
mean_avoi = avoi_deaths_df['Deaths per 100k Population'].mean()
mean_avoi

260.5057692307692

In [26]:
median_avoi = avoi_deaths_df['Deaths per 100k Population'].median()
median_avoi

252.14999999999998

In [27]:
mode_avoi = avoi_deaths_df['Deaths per 100k Population'].mode()[0]
mode_avoi

185.9

In [28]:
mean_prev = prev_deaths_df['Deaths per 100k Population'].mean()
mean_prev

176.15576923076924

In [29]:
median_prev = prev_deaths_df['Deaths per 100k Population'].median()
median_prev

172.25

In [30]:
mode_prev = prev_deaths_df['Deaths per 100k Population'].mode()[0]
mode_prev

126.4

In [31]:
mean_treat = treat_deaths_df['Deaths per 100k Population'].mean()
mean_treat

84.34423076923078

In [32]:
median_treat = treat_deaths_df['Deaths per 100k Population'].median()
median_treat

80.85

In [33]:
mode_treat = treat_deaths_df['Deaths per 100k Population'].mode()[0]
mode_treat

59.5

In [34]:
unis_clean_1819.describe()

       Percentage of Uninsured Adults
count                       52.000000
mean                        11.629808
std                          4.366318
min                          4.100000
25%                          8.300000
50%                         11.325000
75%                         14.850000
max                         24.200000

In [35]:
avoi_deaths_df.describe()

       Deaths per 100k Population
count                   52.000000
mean                   260.505769
std                     50.928371
min                    185.900000
25%                    222.375000
50%                    252.150000
75%                    295.250000
max                    385.600000

In [36]:
prev_deaths_df.describe()

       Deaths per 100k Population
count                   52.000000
mean                   176.155769
std                     34.295643
min                    126.400000
25%                    152.200000
50%                    172.250000
75%                    199.675000
max                    269.000000

In [37]:
treat_deaths_df.describe()

       Deaths per 100k Population
count                   52.000000
mean                    84.344231
std                     18.501398
min                     59.500000
25%                     70.425000
50%                     80.850000
75%                     95.150000
max                    137.500000

In [ ]:
# At this point we have:
# unis_clean_1819 - the average of 2018 and 2019 uninsured persons per state
# Three additional dataframes regarding deaths: avoi_deaths_df, prev_deaths_df, treat_deaths_df
# all of them broken down by state and 2018-19
# Now we need to determine how to do the statistical analysis