In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import chardet

In [2]:
# Changed encoding to allow reading in Jupyter Notebook
unis_adults = pd.read_csv('Resources/uninsured-adults-income-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
unis_adults.head(15)

    time_period          state population cohort  point_estimate
0          2012  United States        all    All            20.8
1          2013  United States        all    All            20.4
2          2014  United States        all    All            16.3
3          2015  United States        all    All            13.2
4          2016  United States        all    All            12.1
5          2017  United States        all    All            12.2
6          2018  United States        all    All            12.4
7          2019  United States        all    All            12.9
8          2020  United States        all    All            12.4
9          2021  United States        all    All            12.1
10         2012        Alabama        all    All            19.9
11         2013        Alabama        all    All            20.4
12         2014        Alabama        all    All            18.1
13         2015        Alabama        all    All            15.7
14         2016        Alabama        all    All            14.2

In [3]:
avoi_deaths = pd.read_csv('Resources/premature-avoidable-deaths-per-100,000-population-all-01-25-2024.csv', skiprows=2, encoding='cp1252')
avoi_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All           250.1
1      2019-20  United States        all    All           276.7
2      2020-21  United States        all    All           320.8
3      2018-19        Alabama        all    All           321.2
4      2019-20        Alabama        all    All           351.0
5      2020-21        Alabama        all    All           417.9
6      2018-19         Alaska        all    All           261.7
7      2019-20         Alaska        all    All           282.4
8      2020-21         Alaska        all    All           342.3
9      2018-19        Arizona        all    All           249.3
10     2019-20        Arizona        all    All           292.5
11     2020-21        Arizona        all    All           362.6
12     2018-19       Arkansas        all    All           351.0
13     2019-20       Arkansas        all    All           386.8
14     2020-21       Arkansas        all    All           450.5

In [4]:
prev_deaths = pd.read_csv('Resources/premature-deaths-from-preventable-causes-per-100,000-population-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
prev_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All           166.3
1      2019-20  United States        all    All           190.8
2      2020-21  United States        all    All           231.9
3      2018-19        Alabama        all    All           212.6
4      2019-20        Alabama        all    All           241.0
5      2020-21        Alabama        all    All           302.4
6      2018-19         Alaska        all    All           193.9
7      2019-20         Alaska        all    All           209.4
8      2020-21         Alaska        all    All           262.2
9      2018-19        Arizona        all    All           173.2
10     2019-20        Arizona        all    All           210.4
11     2020-21        Arizona        all    All           274.7
12     2018-19       Arkansas        all    All           229.3
13     2019-20       Arkansas        all    All           259.9
14     2020-21       Arkansas        all    All           315.7

In [5]:
treat_deaths = pd.read_csv('Resources/premature-deaths-from-treatable-causes-per-100,000-population-all-01-29-2024.csv', skiprows=2, encoding='cp1252')
treat_deaths.head(15)

   time_period          state population cohort  point_estimate
0      2018-19  United States        all    All            83.8
1      2019-20  United States        all    All            85.9
2      2020-21  United States        all    All            88.8
3      2018-19        Alabama        all    All           108.5
4      2019-20        Alabama        all    All           110.0
5      2020-21        Alabama        all    All           115.6
6      2018-19         Alaska        all    All            67.9
7      2019-20         Alaska        all    All            73.1
8      2020-21         Alaska        all    All            80.1
9      2018-19        Arizona        all    All            76.1
10     2019-20        Arizona        all    All            82.1
11     2020-21        Arizona        all    All            87.9
12     2018-19       Arkansas        all    All           121.7
13     2019-20       Arkansas        all    All           126.9
14     2020-21       Arkansas        all    All           134.8